.VideoSection {
  .videoPlay {
    position: relative;

    .button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      width: 140px;
      height: 140px;
      margin: auto;
      bottom: 0;
    }

    .videoImage {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) and (max-width: 1100px) {
      .button {
        width: 80px;
        height: 80px;
      }
    }

    @media (max-width: 767px) and (min-width: 320px) {

      .button {
        width: 50px;
        height: 50px;
      }
    }
  }

  .topImageWrap {
    width: 100%;
    display: block;
  }

  .topImageInner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .topImage {
    object-fit: contain;
    width: 100%;
  }
}



@media(min-width:0) and (max-width:767px) {
  .topImageInner {
    height: auto !important;
  }
}