.relatedArticle {
    h3 {
        color: #1C352D;
        font-family: "Figtree-Medium";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 10px;
        margin-bottom: 15px !important;
        border-bottom: 1px solid #E0E6EE;
    }

    .relatedArticleBox {
        display: flex;
        gap: 24px;
        justify-content: space-around;
        margin-bottom: 15px;
        align-items: center;

        @media(min-width:768px) and (max-width:1100px) {
            gap: 15px;


        }

        @media (min-width: 0) and (max-width: 767px) {
            gap: 14px;
            justify-content: start;

        }

        .relatedArticleImg {
            width: 88px;
            height: 88px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media(min-width:768px) and (max-width:1100px) {
                width: 50px;
                height: 50px;

            }

            @media (min-width: 0) and (max-width: 767px) {
                width: 50px;
                height: 50px;


            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        a {
            width: 188px;
            color: #1C352D;
            font-family: 'figtree-regular';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-family: 'figtree-regular';
            text-decoration: none;

            @media(min-width:768px) and (max-width:1100px) {
                font-size: 14px;

            }

            @media (min-width: 0) and (max-width: 767px) {
                font-size: 14px;


            }

            /* 22.884px */

        }
    }

}