$Figtree_Regular : 'figtree-regular';
$Figtree_Medium : 'figtree-medium';
$Figtree_Bold : 'figtree-bold';
$Figtree_SemiBold : 'figtree-semibold';
$Figtree_Light : 'figtree-light';
$Satoshi_Regular : 'satoshi-regular';
$Satoshi_Bold : 'satoshi-bold';

$Inter_Regular : 'inter-regular';
$Inter_Medium : 'inter-medium';
$Inter_Bold : 'inter-bold';