.footerBox {
  background: #EBF3FB;;
  padding: 50px 0;

  .imgBadge {
    margin-top: 10px;
  }

  h3 {
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
  }

  h6 {
    color: #000;
    font-family: "Inter", sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 138.462% */
    margin-bottom: 17px !important;
  }

  button {
    color: #000;
    font-family: "Inter", sans-serif !important;
    font-size: 13.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 144.928% */
    letter-spacing: -0.14px;
    background: initial;
    border: initial;
    display: flex;
    margin-bottom: 15px;

    svg {
      margin-left: 5px;
    }
  }

  .sicon {
    display: flex;
    gap: 10px;
    justify-content: end;

    @media(min-width:0px) and (max-width:767px) {
      justify-content: start;
    }

    button {
      display: inline-block !important;
    }
  }
}

@media (min-width: 0) and (max-width: 767px) {
  .footerBox {
    padding: 20px 0;

    h3 {
      padding-bottom: 20px;
    }
  }

  .imgBadge {
    margin-top: 10px !important;
  }
}


.sempLogoFooter {
  
}